# Swift Package Manager
.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.xcodeproj

# Generated bindings and libraries
lib/libmob.dylib
lib/*.so
lib/*.dll
lib/mob.swift
lib/mobFFI.h
lib/mobFFI.modulemap
lib/*.xcframework
